.Book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
    background-color: rgb(241, 231, 217);
    border-radius: 10px;
    box-shadow: 0 0 20px 0px rgb(199, 199, 176), 0 0 20px 10px #d2c7a1, 0px 0px 20px 0px rgb(210, 233, 233);
    
    padding: 5px 20px 15px 20px;
    border: 2px solid lightgray;
    border-radius: 6px;
}
.Book h1{
    text-align: center;
}

.name{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.Book p{
    font-size: large;
}
.Book button{
    display: flex;
    margin: 40px auto 20px auto;
    padding: 10px 100px;
    justify-content: center;
    background-color: rgb(48, 213, 11);
    border: 1px greenyellow;
    border-radius: 10px;
    text-decoration: none;
    
}
.Book button:hover{
    border-radius: 15px;
    font-size: 20px;
    padding: 10px 50px;
}
.Book button span{
    text-decoration: none;
}
a{
    text-decoration: none;
}
#touristimg{
    max-width: 100%;
    border-radius: 10px;
}

@media (max-width:480px){
    .Book{
        width: 100%;
    }
}
@media (min-width:800px ){
    .Book{
        width: 70%;
    }
}
@media (min-width:1024px ){
    .Book{
        width: 25%;
    }
}