

.search-bar {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center; 
    padding: 20px;
    border-radius: 40%;
    
    
    
    }
    
    .search-bar input {
    padding: 10px;
    border: none;
    background-color: #ffffff;
    width: 100%;
    max-width: 500px; 
    border: 1px solid #ccc;
    border-radius: 20px 20px 20px 20px;   
    font-size: 18px;  
    
    }
    
    .search-bar button {
    background-color: transparent;
    border: none;
    margin-left: -40px;
    cursor: pointer;
    font-size: 20px;
    color: rgb(98, 95, 95);
    }
.restaurant-container {
    flex-grow: 1fr;
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    flex-wrap: wrap;
    padding-left: auto;
    align-items: center;
    justify-content: center;
  }
  
  .hotel-card{
    height: 350px;
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 2px;
    margin: 5px;
    row-gap: 10px;
  }
  
  .restaurant-card{
    height: 450px;
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 2px;
    margin: 5px;
    row-gap: 10px;
  }
  
  .favorite-icon{
    display: flex;
    justify-content: end;
    padding-right: 4px;
  }
  
  .heart-icon:hover{
    cursor: pointer;
  }
  
  .heart-icon{
    height: 20px;
    margin: 2px;
    justify-self: end;
  }
  
  .hotel-image-container , .restaurant-image-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hotel-image-container{
      height: 70%;
  }
  
  .restaurant-image-container{
    height: 60%;
  }
  
  .hotel-image-container > img , .restaurant-image-container > img{
    height: 100%;
    width: 80%;
  }
  
  .hotel-info , .restaurant-info{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    row-gap: 0;
  }
  
  .hotel-name , .restaurant-name{
    height: fit-content;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
  }
  
  .hotel-name > h2  , .restaurant-name > h2{
    margin: 0;
  }
  
  .price{
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  
  .restaurant-location{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  
  .price > p , .restaurant-location > p {
    margin: 0;
    column-gap: 25px;
  }
  .more{
    background-color: #dfc460;
    height: fit-content;
    width: fit-content;
    border: none;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-self: end;
    align-self: flex-end;
  }
  
  .reserve-botton{
    background-color: #dfc460;
    border: none;
    height: 30px;
    width: 50%;
    border-radius: 10px;
  }
  
  .reserve-botton:hover{
    cursor: pointer;
  }
  
  .more:hover{
    cursor: pointer;
  }
  
  #next-icon {
    height: 50%;
  }
  
  .rate {
    float: left;
    padding: 0 10px;
    justify-self: end;
  
  }
  .rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
  }
  .rate:not(:checked) > label {
    float:right;
    width:0.8em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:20px;
    color:#ccc;
  }
  .rate:not(:checked) > label:before {
    content: '★ ';
  }
  .rate > input:checked ~ label {
    color: #ffc700;    
  }
  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
  }
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
  }
  
  